<div class="secondBl" style="background-image: url(./../assets/bg.jpg);">
      <div class="row" id="menu">
            <div class="col-auto second">
               Courses
            </div>
            <div class="col-auto second">
                  Why Us
            </div>
            <div class="col-auto second">
                  Support
            </div>
            <div class="col-auto" id="buttonG">
                  <button class="rounded-lg" id="Gbutton">Get Started</button>
            </div>
      </div>
</div>
